#galleryDiv{

    /*width: 80%;*/
    position: relative;
    align-content: center;
    /*padding-left: 280px;*/
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    min-width: 600px;
    max-width: 800px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    /*margin-inline-start: 264px;*/
    /*margin-inline-end: 264px;*/
    display: inline-block;
    zoom: 1;
    /*display: inline; *//* ie hack */
    position: relative;
    transform: translate(49%, 0%);
    width: 51%;
    /*height:13%*/
    /*TODO: ez így a saját monitoromon jól jelenik meg, de máshol tuti nagyobb monitor van. Az ördög bassza meg a nagy monitorokat.
    */
}