/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.grid-container ul {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    clear: both;
}
.grid-container ul .block {
    width: 16% !important;
    height: auto;
    position: relative;
    float: left;
    margin: 0 0 0 0;
    padding: 0 0 20% 0;
    transition: 0.8s ease;
}
.grid-container ul .block:hover span {
    height: 50%;
}
@media screen and (max-width: 1280px) {
    .grid-container ul .block {
        width: 25%;
       /* padding-bottom: 25%; */
    }
}
@media screen and (max-width: 1024px) {
    .grid-container ul .block {
        width: 33.33%;
        padding-bottom: 33.33%;
    }
}
@media screen and (max-width: 600px) {
    .grid-container ul .block {
        width: 50%;
        padding-bottom: 50%;
    }
}
@media screen and (max-width: 360px) {
    .grid-container ul .block {
        width: 100%;
        padding-bottom: 100%;
    }
}
.grid-container ul .block img {
    max-width: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.grid-container ul .block span {
    visibility: hidden;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 1rem;
    font-size: 1.3rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.8s ease;
}

.responsive{

        /* Prevent vertical gaps */
line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;

}

.responsive img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}

@media (max-width: 1200px) {
    .responsive {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 1000px) {
    .responsive {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 800px) {
    .responsive {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 400px) {
    .responsive {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}